---
Checks: |
  -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  bugprone-*,
  modernize-*,
  readability-*
HeaderFilterRegex: '.*'
FormatStyle: file