[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = git@github.com:google/googletest.git
